<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Change Counter</title>
  </head>
  <body>
    <form action="/results" method="post">
    <label for="change-input">Enter change amount:</label>
    <input type="number" name="change-input" id="change-input">
    <button type="submit" class="btn btn-warning">Find your change!</button>
  </body>
</html>
