<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Change Counter</title>
  </head>
  <body>
    <h1>You entered:@Model[4]</h1>
    <h1>Your change:</h1>
    <h2>Quarters:@Model[0]</h2>
    <h2>Dimes: @Model[1]</h2>
    <h2>Nickels: @Model[2]</h2>
    <h2>Pennies: @Model[3]</h2>
  </body>
</html>
